---
export interface Props {
	flexDirection?: 'column' | 'row';
	className?: string;
}

const { flexDirection = 'row', className } = Astro.props;
---

<div class={`flex-wrapper ${className}`}>
	<slot />
</div>

<style lang="scss" define:vars={{ flexDirection }}>
	.flex-wrapper {
		flex-direction: var(--flexDirection);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
