/*** COMMON ***/

$white: #fff;
$black: #000;

/*** HIGHLIGHT ***/

$highlight: #ad55f7;
$highlightDark: #6d24ac;

/*** GREYS ***/

$grey1: #f4f5f7;
$grey2: #cecece;
$grey3: #6e6e72;
$grey4: #575757;
