---
import NavLogo from './NavLogo.astro';
import NavigationTiles from './NavigationTiles.astro';
---

<script>
	const menuBtn = document.querySelector('.navbar__hamburger');
	const navBar = document.querySelector('.mobile-nav');
	const tileLinks = document.querySelectorAll('.tile-link-li');
	const logo = document.querySelector('.mobile-nav-logo');

	let isMenuOpen = false;

	const toggleMenu = () => navBar?.classList.toggle('open');

	const animateHamburgerOpen = () => {
		menuBtn?.classList.add('center');
		setTimeout(() => menuBtn?.classList.add('rotate'), 250);
		isMenuOpen = true;
	};

	const animateHamburgerClosed = () => {
		menuBtn?.classList.remove('rotate');
		setTimeout(() => menuBtn?.classList.remove('center'), 250);
		isMenuOpen = false;
	};

	const handleMenuItemClick = () => {
		toggleMenu();
		isMenuOpen ? animateHamburgerClosed() : animateHamburgerOpen();
	};

	const handleLogoClick = () => {
		navBar?.classList.remove('open');
		animateHamburgerClosed();
	};

	menuBtn?.addEventListener('click', handleMenuItemClick);
	logo?.addEventListener('click', handleLogoClick);
	tileLinks.forEach((link) =>
		link.addEventListener('click', handleMenuItemClick)
	);
</script>

<nav transition:persist class="mobile-nav">
	<div class="navbar">
		<a class="mobile-nav-logo" href="/"><NavLogo /></a>
		<div class="navbar__hamburger">
			<div class="navbar__hamburger-layer top"></div>
			<div class="navbar__hamburger-layer bottom"></div>
		</div>
	</div>
	<div class="mobile-nav__menu">
		<NavigationTiles />
	</div>
</nav>

<style lang="scss">
	@import '../../styles/main';

	:root {
		--navbarHeight: 44px;
	}

	.mobile-nav {
		display: none;
		@include sm-screen {
			display: block;
			z-index: 1;
		}

		background-color: $lightBlack;

		position: absolute;
		top: 0;
		left: 0;
		height: var(--navbarHeight);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition-duration: 320ms;

		&.open {
			height: 100vh;
			position: fixed;
			overflow: scroll;
			background-color: rgba(37, 37, 37, 0.6);
			backdrop-filter: blur(20px);

			.mobile-nav__menu {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
				transition-duration: 250ms;
				transition-delay: 150ms;
			}
		}

		&__menu {
			width: 100%;
			max-width: 1000px;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-20px);
			transition-duration: 150ms;
		}
	}

	.navbar {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;

		&__hamburger {
			height: 10px;
			width: 20px;
			position: relative;

			&-layer {
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $white;
				&.top {
					top: 0;
				}
				&.bottom {
					bottom: 0;
				}
			}

			&.center {
				.navbar__hamburger-layer {
					&.top {
						transform: translateY(4px);
					}
					&.bottom {
						transform: translateY(-4px);
					}
				}

				&.rotate {
					.navbar__hamburger-layer {
						&.top {
							transform: rotate(45deg) translateY(3px) translateX(3px);
						}

						&.bottom {
							transform: rotate(-45deg) translateY(-3px) translateX(3px);
						}
					}
				}
			}
		}
	}
</style>
