---
import Layout from '../layouts/Layout.astro';
import FullScreenWrapper from '../components/wrappers/FullScreenWrapper.astro';
import NarrowWrapper from '../components/wrappers/NarrowWrapper.astro';
import FlexWrapper from '../components/wrappers/FlexWrapper.astro';
---

<Layout title="Million Digital - Design">
	<main>
		<FullScreenWrapper>
			<NarrowWrapper>
				<FlexWrapper flexDirection="column">
					<h1>design<span class="full-stop">.</span></h1>
					<h3>
						Great design is at the heart of great businesses. Our team creates
						modern and user friendly websites, apps, landing pages, HTML email
						templates and branding with a focus on UX, SEO and, most
						importantly, you and your customers.
						<br />
						<br />
						We have a 3-step process that means you only ever pay for the work you
						ask for.
					</h3>
				</FlexWrapper>
			</NarrowWrapper>
		</FullScreenWrapper>

		<div class="card__container">
			<div class="card">
				<div class="card__header">
					<p class="card__header-title">Step 1</p>
					<p class="card__header-subtitle">Concept</p>
				</div>
				<div class="card__content">
					<div class="card__content-section">
						<div class="card__content-description">
							<p>
								You tell us what you’re looking for and give us your brief. This
								can be as vague or as detailed as you’d like.
							</p>
						</div>
					</div>
					<div class="card__content-section">
						<div class="card__content-section-title">
							<p>What you get</p>
						</div>
						<div class="card__content-section-body">
							<p>- 3 design concepts</p>
						</div>
					</div>
					<div class="card__content-section">
						<p class="card__content-section-title">What you pay</p>
						<div class="card__content-section-body">
							<p>From £199 for misc.</p>
							<p>From £299 for logos</p>
							<p>From £599 for websites and apps</p>
						</div>
					</div>
				</div>
				<div class="action-btn">
					<a href="">
						<p>Get in touch</p>
					</a>
				</div>
			</div>

			<div class="card">
				<div class="card__header">
					<p class="card__header-title">Step 2</p>
					<p class="card__header-subtitle">Prototype</p>
				</div>
				<div class="card__content">
					<div class="card__content-section">
						<div class="card__content-description">
							<p>
								Pick one of our delivered concepts and we’ll refine your
								favourite design.
							</p>
						</div>
					</div>
					<div class="card__content-section">
						<div class="card__content-section-title">
							<p>What you get</p>
						</div>
						<div class="card__content-section-body">
							<p>- A refined prototype design</p>
						</div>
					</div>
					<div class="card__content-section">
						<p class="card__content-section-title">What you pay</p>
						<div class="card__content-section-body">
							<p>From £49 for misc.</p>
							<p>From £199 for logos</p>
							<p>From £599 for websites and apps</p>
						</div>
					</div>
				</div>
				<div class="action-btn">
					<a href="">
						<p>Get in touch</p>
					</a>
				</div>
			</div>

			<div class="card">
				<div class="card__header">
					<p class="card__header-title">Step 3</p>
					<p class="card__header-subtitle">Delivery</p>
				</div>
				<div class="card__content">
					<div class="card__content-section">
						<div class="card__content-description">
							<p>
								Once you’re happy with the prototype, we finalise your design
								and give you all the deliverables.
							</p>
						</div>
					</div>
					<div class="card__content-section">
						<div class="card__content-section-title">
							<p>What you get</p>
						</div>
						<div class="card__content-section-body">
							<p>
								For logos and misc. material, this will be the final vector and
								image files ready for commercial use. For websites and apps,
								this can be the design files, a fully interactive prototype, or
								we can move onto to the build phase of your project.
							</p>
						</div>
					</div>
					<div class="card__content-section">
						<p class="card__content-section-title">What you pay</p>
						<div class="card__content-section-body">
							<p>From £49 for misc.</p>
							<p>From £99 for logos</p>
							<p>From £299 for websites and apps</p>
						</div>
					</div>
				</div>
				<div class="action-btn">
					<a href="">
						<p>Get in touch</p>
					</a>
				</div>
			</div>
		</div>
	</main>

	<FullScreenWrapper />
</Layout>

<style lang="scss">
	@import '../styles/colors.scss';

	.action-btn {
		width: 100%;
		background-color: $highlightDark;
		height: 45px;
		margin: 2rem 0;
		border-radius: 10px;

		&:hover {
			background-color: $highlight;
		}
		a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			text-decoration: none;
			text-align: center;
		}
	}

	.card__container {
		display: flex;
		gap: 5rem;
		justify-content: center;
	}

	.card {
		width: 275px;

		&__header {
			margin-bottom: 2rem;
			&-title {
				font-size: 3rem;
				font-weight: bold;
				color: $grey3;
				margin: 0;
			}

			&-subtitle {
				font-size: 1rem;
				font-weight: bold;
				color: $grey1;
			}
		}

		&__content {
			display: grid;
			grid-template-rows: 0.7fr 1.3fr 1fr;
			gap: 1rem;

			&-description {
				font-size: 0.9rem;
				color: $grey2;
			}

			&-section {
				&-title {
					font-size: 0.8rem;
					font-weight: bold;
					color: $grey1;
				}

				&-body {
					font-size: 0.9rem;
					color: $grey2;
				}
			}
		}
	}

	.container {
		width: 650px;
		margin-bottom: 3rem;
	}

	h1 {
		font-size: 8rem;
	}

	h3 {
		color: $grey2;
		text-align: center;
		font-weight: normal;
		line-height: 1.6rem;
	}
</style>
