---
import Layout from '../layouts/Layout.astro';
import FullScreenWrapper from '../components/wrappers/FullScreenWrapper.astro';
import NarrowWrapper from '../components/wrappers/NarrowWrapper.astro';
import FlexWrapper from '../components/wrappers/FlexWrapper.astro';
import SeeMore from '../components/SeeMore.astro';
import OptionTile from '../components/OptionTile.astro';
---

<Layout title="Million Digital - Pricing">
	<FullScreenWrapper>
		<NarrowWrapper>
			<FlexWrapper flexDirection="column" className="page__header">
				<h1>pricing<span class="full-stop">.</span></h1>
				<h3>
					Our price structure is always tailored to the work we carry out and we
					only ever charge you for the work we do.
					<br />
					<br />
					 No hidden costs. No huge deposits.
				</h3>
			</FlexWrapper>
		</NarrowWrapper>
		<SeeMore targetId="option-tiles" />
	</FullScreenWrapper>

	<FullScreenWrapper id="option-tiles">
		<div class="option-tiles-container">
			<OptionTile title="Design" price="From £199" linkTo="../design" />
			<OptionTile title="Build" price="From £199" linkTo="../build" />
			<OptionTile title="Host" price="From £199" linkTo="../host" />
			<OptionTile title="Write" price="From £199" linkTo="../write" />
			<OptionTile title="Photo Editing" price="From £199" linkTo="../host" />
			<OptionTile title="Video Editing" price="From £199" linkTo="../host" />
		</div>
	</FullScreenWrapper>
</Layout>

<style lang="scss">
	.option-tiles-container {
		max-width: 1000px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 5rem;
	}
</style>
