---
interface Props {
	text: string;
	link: string;
}

const { link, text } = Astro.props;
---

<div class="container">
	<a href={link}>
		<p>{text}</p>
		<div class="caret-container">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				class="bi bi-caret-right-fill caret"
				viewBox="0 0 16 16"
			>
				<path
					d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
				></path>
			</svg>
		</div>
	</a>
</div>

<style lang="scss">
	@import '../styles/colors';

	.container {
		margin: 1rem 0 2rem 0;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
			color: $grey3;
			text-decoration: none;

			p {
				margin: 0;
			}

			.caret-container {
				height: 100%;
				width: 0.8rem;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 0.2rem;

				svg {
					position: relative;
					top: 1px;
				}
			}

			&:hover {
				color: $white;

				svg {
					color: $highlight;
					transform: translateX(5px);
				}
			}
		}
	}
</style>
