---
import { Icon } from 'astro-icon';

interface Props {
	text: string;
	link: string;
}

const { link, text } = Astro.props;
---

<div class="container">
	<a href={link}>
		<p>{text}</p>
		<div class="caret-container">
			<Icon name="caret" />
		</div>
	</a>
</div>

<style lang="scss">
	@import '../styles/main';

	.container {
		margin: 1rem 0 2rem 0;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
			color: $grey3;
			text-decoration: none;

			&:hover {
				color: $white;

				svg {
					color: $highlight;
					transform: translateX(5px);
				}
			}

			p {
				margin: 0;

				@include xs-screen {
					font-size: 1rem;
				}
			}

			.caret-container {
				height: 100%;
				width: 0.8rem;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 0.2rem;

				svg {
					height: 100%;
					width: 100%;
					position: relative;
					top: 2px;
				}
			}
		}
	}
</style>
