---
interface Props {
	currentPage: string;
}

const { currentPage } = Astro.props;
---

<header transition:persist>
	<nav>
		<div class="navbar">
			<div class="logo main-menu-item"><a href="/">M</a></div>
			<ul>
				<li class="main-menu-item"><a href="design">web</a></li>
				<li
					class:list={[
						'sub-menu-item',
						currentPage === 'design' && 'currentPage',
					]}
				>
					<a href="design">design</a>
				</li>
				<li
					class:list={[
						'sub-menu-item',
						currentPage === 'build' && 'currentPage',
					]}
				>
					<a href="build">build</a>
				</li>
				<li
					class:list={[
						'sub-menu-item',
						currentPage === 'host' && 'currentPage',
					]}
				>
					<a href="host">host</a>
				</li>
			</ul>
			<ul>
				<li class="main-menu-item"><a href="write">content</a></li>
				<li
					class:list={[
						'sub-menu-item',
						currentPage === 'write' && 'currentPage',
					]}
				>
					<a href="write">write</a>
				</li>
				<li
					class:list={[
						'sub-menu-item',
						currentPage === 'edit' && 'currentPage',
					]}
				>
					<a href="edit">edit</a>
				</li>
				<li
					class:list={[
						'sub-menu-item',
						currentPage === 'manage' && 'currentPage',
					]}
				>
					<a href="manage">manage</a>
				</li>
			</ul>
			<ul class="more">
				<li class="main-menu-item"><a href="maintain">more</a></li>
				<li
					class:list={[
						'sub-menu-item',
						currentPage === 'maintain' && 'currentPage',
					]}
				>
					<a href="maintain">maintain</a>
				</li>
				<li
					class:list={[
						'sub-menu-item',
						currentPage === 'beyond' && 'currentPage',
					]}
				>
					<a href="beyond">beyond</a>
				</li>
			</ul>
			<ul>
				<li
					class:list={[
						'main-menu-item',
						currentPage === 'contact' && 'currentPage',
					]}
				>
					<a href="contact">contact</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="curtain" id="nav-curtain"></div>
</header>

<style lang="scss">
	@import '../styles/main';

	nav {
		z-index: 2;
		background-color: $lightBlack;
		position: absolute;
		top: 0;
		left: 0;

		height: 44px;
		width: 100%;
		display: flex;
		justify-content: center;
		transition-length: 300ms;

		&:hover {
			height: 200px;

			ul .sub-menu-item {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}

			~ .curtain {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.navbar {
		z-index: 2;
		display: flex;
		position: relative;
		top: -3px;

		ul {
			width: 150px;

			&.more {
				padding-right: 0.5rem;
			}

			.main-menu-item {
				margin-bottom: 1.5rem;

				a {
					color: $grey3;
				}
			}

			.sub-menu-item {
				margin-bottom: 1.2rem;
				visibility: hidden;
				opacity: 0;
				transform: translateY(-10px);
				// transition-delay: 200ms;

				a {
					color: $grey2;
					// text-align: center;
					font-weight: bold;

					&:hover {
						color: $white;
					}
				}
			}

			li {
				list-style-type: none;

				a {
					display: inline-block;
					height: 100%;
					width: 100%;
					text-decoration: none;
					text-align: right;
					font-weight: bold;
				}
			}
		}
	}

	.curtain {
		// border: 1px solid cyan;
		transition: all 350ms ease-in-out;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1;

		background-color: rgba(15, 15, 15, 0.3);
		backdrop-filter: blur(20px);

		opacity: 0;
		visibility: hidden;
	}
</style>
