---
import ContentContainer from './ContentContainer.astro';
import FlexWrapper from './FlexWrapper.astro';
import SectionTitle from './SectionTitle.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="margin-wrapper">
	<FlexWrapper>
		<ContentContainer>
			<SectionTitle title={title} />
			<slot />
		</ContentContainer>
	</FlexWrapper>
</div>

<style lang="scss">
	.margin-wrapper {
		margin-bottom: 8rem;
	}
</style>
