---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<h3 class="section-title text-grey2">{title}</h3>

<style lang="scss">
	@import '../styles/colors';
	@import '../styles/responsive';

	.section-title {
		position: relative;
		display: flex;
		justify-content: center;
		font-size: 2rem;
		transition: all 200ms ease-in-out;
		margin-bottom: 3rem;

		@include sm-screen {
			font-size: 1.8rem;
		}

		@include xs-screen {
			font-size: 1.5rem;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			background-color: $highlight;
			top: 3rem;

			width: 10rem;
			height: 3px;

			@include xs-screen {
				width: 7rem;
				top: 2.5rem;
			}
		}

		&:hover {
			color: $white;
		}
	}
</style>
