---
import ScrollToTop from '../components/ScrollToTop.astro';
import '../styles/main.scss';
export interface Props {
	title: string;
	hideBackToTop?: boolean;
}

const { title, hideBackToTop = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="page-top"></div>
		<main>
			<slot />
		</main>
		{
			!hideBackToTop && (
				<div style={{ marginTop: '5rem' }}>
					<ScrollToTop />
				</div>
			)
		}
	</body>
</html>
